{% extends "base.html" %}
{% load i18n %}

{% block container %}

<div class="row-fluid">
    <div class="span4 offset4">
        <div class="well">
            <div class="offset2">
                <h2>Log In</h2>
                <form id="login" action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button name="login" type="submit" class="btn">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock container %}
