{% extends "base.html" %}

{% block container %}
<div class="row-fluid">
    <div class="span12">
        <div class="well">
            <h2>Informed Consent</h2>
            <h3>Assessing Attitudes and Occupations with Implicit and Explicit Measures.</h3>
            <p>The purpose of this research project is to gather information about attitudes people have about different occupations. This research project will have two primary sections. First, you will be asked to sort words into categories on the computer screen. Although the instructions for sorting will vary, the task remains the same. Second, you will be asked to complete a questionnaire. The questionnaire will ask you about your perceptions of personality traits, your opinion about different occupations, and demographic information such as your gender, age, education, and occupation.</p>
            <p>This research project is experimental in nature. Participants will be divided into different groups, and each group may be given different instructions, or may complete questionnaires in a different order. All of the tasks you are being asked to complete should take approximately 20 minutes. Your time is greatly appreciated!</p>
            <p>There is no anticipated risk in your participation. Although you may not receive direct benefit from your participation, others may ultimately benefit from the knowledge obtained from this research.</p>
            <p>All information obtained in this study is strictly confidential unless disclosure is required by law. In addition, the Institutional Review Board and University or government officials responsible for monitoring this study may inspect these records. You will not be asked to provide your name or any other identifying information. The only potentially identifying information is the computer that you are using; however, your IP address is not being logged or saved. If you have any questions or concerns, please contact the primary investigator or dissertation advisor.</p>
            <h5>Primary Investigator</h5>
            <p>Carolyn Matheus, M.A., B.A., PhD Candidate, University at Albany<br/>845-471-9099 ccmatheus@hotmail.com</p> 
            <h5>Dissertation Advisor</h5>
            <p>Dr. Tom Taber, Professor of Management & Professor of Organizational Studies<br/>518-442-4937 t.taber@albany.edu</p> 
            <p>If you have any questions concerning your rights as a research participant that have not been answered by the investigator or if you wish to report any concerns about the study, you may contact the University at Albany's Office of Regulatory Research Compliance at 518-442-9050, 800-365-9139, or orrc@uamail.albany.edu.</p>
            <p>Your participation in this project is voluntary. Even after you agree to participate in the research, you may decide to leave the study at any time without penalty. You may choose not to answer any questions and may refuse to complete any portions of the research you do not wish to for any reason. If you do not wish to participate, you may quit and close your browser at any time.</p>
            <p><strong>NOTE:</strong> Due to security measures, the tasks may not operate at people's places of employment. Therefore, it is recommended that you use home computers to participate. Additionally, the tasks will not work on Mac computers. The sorting task requires the automatic installation of an Active-X control or Java Applet to your PC. No viruses, spyware, or other malware will be installed. No expertise is required to use this program. Please just accept any prompts to install the required plug-in or Active-X item.</p>
            <p>I have read, or been informed of, the information about this study. By clicking <strong>I AGREE</strong>, I hereby consent to participate in this study.</p>
            <a href="{% url 'group' %}" class="btn btn-primary" type="button">I Agree</a>
        </div>
    </div>
</div>
{% endblock container %}