{% extends "base.html" %}
{% load static %}

{% block container %}
<div class="col-md-4 col-md-offset-4 well">
    <h2>Test Selection</h2>
    <form class="form-horizontal" role="form" method="post" action="{% url 'entrance' test_id %}">
        <div class="form-group">
            <div class="col-md-12">
                {% csrf_token %}
                {{ login_form.as_p }}
            </div>
        </div>
        <button id="continue" name="continue" type="submit" class="btn btn-primary" disabled>Continue</button>     
    </form>
</div>
{% endblock container %}

{% block javascript %}
<script src="{% static 'js/entrance.js' %}"></script>
{% endblock javascript %}