{% extends "base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'css/test.css' %}" rel="stylesheet">
{% endblock css %}

{% block container %}
<div class="row-fluid">
    <div id="container" class="span8 offset2 well">
        <div id="instruction-phase-container">
            <h2>Instructions</h2>
            
            <div id="instructions" class="row-fluid"></div>
            
            <div class="row-fluid text-center">
                <span id="start-hint">Press space to continue</span>
            </div>
        </div>
        
        <div id="testing-phase-container">
            <div id="category-container" class="row-fluid">
                <div class="row-fluid">
                    <h2 id="primary-left-category" class="span5 text-left"></h2>
                    <h2 id="primary-right-category" class="offset2 span5 text-right"></h2>
                </div>
                <div class="row-fluid">
                    <span id="left-separator" class="span5 text-left">or</span>
                    <span id="right-separator" class="offset2 span5 text-right">or</span>
                </div>
                <div class="row-fluid">
                    <h2 id="secondary-left-category" class="span5 text-left"></h2>
                    <h2 id="secondary-right-category" class="offset2 span5 text-right"></h2>
                </div>
            </div>

            <div class="row-fluid">
                <div id="anchor" class="offset4 span4 text-center"></div>
            </div>

            <div class="row-fluid text-center">
                <img id="status" src="/static/img/wrong.png" alt="Wrong Answer" />
            </div>
            
            <div class="alert" id="key-bind-reminder">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Press the <span id="left-key-bind">{{ left_key_bind }}</span> and <span id="right-key-bind">{{ right_key_bind }}</span> keys to sort the item into the left and right categories respectively
            </div>
        </div>        
        
        <div id="termination-phase-container" class="text-center">
            <span id="thank-you-message">
                {% if next_page_url == '/confirmation/' %}
                Click next to finish the test
                {% else %}
                Click next to complete the survey 
                {% endif %}
                <br /><br />
                <a href="{{ next_page_url }}" class="btn btn-primary" type="button">Next &rarr;</a>
            </span>
        </div>
    </div>
</div>
{% endblock container %}

{% block javascript %}
<script type="text/javascript">
    var test = {{ test }};
    var blocks = {{ blocks }};
    var categories = {{ categories }};
    var anchors = {{ anchors }};
    var media_url = {{ media_url }};
</script>
<script src="{% static 'js/test.js' %}"></script>
{% endblock javascript %}